header {
    width: 100%;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background: #2180ff;
    font-family: arial;

}

header .logo {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

header .user {
    display: flex;
    justify-content: center;
    gap: 5px;
    height: 100%;
    font-size: 15px;
    font-weight: bold;
    color: #262626;
    position: relative;
}

header .user img {
    height: 100%;
}

header .user div.name {
    align-self: center;
}

header .user ul {
    height: 0;
    overflow: hidden;
    width: 100px;
    background: #0008;
    opacity: 0;
    position: absolute;
    top: 60%;
    right: 0;
    list-style: none;
    border-radius: 5px;
    transition: 0.15s linear;
}

header .user:hover ul {
    height: auto;
    opacity: 1;
}

header .user ul li {
    line-height: 30px;
    cursor: pointer;
    padding: 0 10px;
    box-sizing: border-box;
    color: #fff;
}

#navbar {
    width: 200px;
    max-width: 80vw;
    background: #efefef;
}

#navbar .menu {
    display: none;
}

#navbar nav {
    padding: 10px;
    box-sizing: border-box;
}

#navbar nav li {
    list-style: none;
    margin: 10px 0;
    background: #fff;
    border-radius: 20px;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666
}

@media screen and (max-width: 768px) {
    #navbar {
        width: 150px;
    }
}

@media screen and (max-width : 500px) {
    header {
        z-index: 10;
        position: relative;
    }

    #navbar {
        height: 100%;
        z-index: 9;
        position: fixed;
        padding-top: 60px;
        top: 0px;
        left: -150px;
        transition: 0.15s linear;
    }

    #navbar:hover {
        left: 0;
    }

    #navbar .menu {
        position: absolute;
        left: 100%;
        padding: 10px 10px 10px 2px;
        display: block;
        top: 80px;
        background-color: #999;
        color: #fff;
        border-radius: 0 20px 20px 0;
    }
}